@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Manrope:wght@600;800&family=Poppins:ital@1&family=Red+Hat+Text:wght@700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Red Hat Text", sans-serif;
	font-size: inherit;
}

body {
	display: grid;
	min-height: 100svh;
	place-items: center;
	background: linear-gradient(var(--Very-very-dark-blue), var(--purply));
}

img {
	display: block;
	width: auto;
	height: auto;
}

:root {
	/* Primary */
	--Grayish-blue: hsl(237, 18%, 59%);
	--Soft-red: hsl(345, 95%, 68%);

	/* Netural */
	--White: hsl(0, 0%, 100%);
	--Dark-desaturated-blue: hsl(236, 21%, 26%);
	--Very-dark-blue: hsl(235, 16%, 14%);
	--Very-very-dark-blue: hsl(234, 17%, 12%);

	/* sky */
	--purply: #2f2439;
	--purply-v2: #352744;
}

.background {
	overflow-x: hidden;
	position: relative;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
}

.stars path {
	fill: rgba(255, 255, 255, 0.2);
}

.hills {
	position: absolute;
	bottom: 0;
	width: 370%;
	height: 30%;
	transform: translateX(-59%);
}

main {
	display: grid;
	width: 50%;
	max-width: 700px;
	gap: 4rem;
	min-width: 340px;
	transform: translateY(-70%);
}

header {
	text-transform: uppercase;
	text-align: center;
	color: var(--White);
	font-size: 1.3rem;
	letter-spacing: 8px;
}

p {
	font-size: 0.45rem;
	letter-spacing: 3px;
	color: var(--Grayish-blue);
}

.boxes-container {
	width: 100%;
	gap: 1rem;
	display: flex;
	place-self: center;
	justify-content: center;
}

.boxes {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.box {
	isolation: isolate;
	display: grid;
	gap: 3px;
	border-radius: 0.25rem;
	background-color: hsl(236, 21%, 31%);
	cursor: pointer;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
	aspect-ratio: 1.1 / 1;
	width: 100%;
	box-shadow: 0px 8px 3px -1px rgba(0, 0, 0, 0.85);
}

.top,
.bottom {
	width: 100%;
}

footer {
	position: absolute;
	display: flex;
	gap: 2.2rem;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);
}

footer svg {
	cursor: pointer;
	transform: scale(1.2);
}

footer svg:hover path {
	fill: var(--Soft-red);
}

@keyframes cardFlip {
	from {
		transform: scaleY(2);
	}
	to {
		transform: scaleY(-1.1);
	}
}

.top {
	z-index: 1;
	opacity: 0.65;
	height: 49.5%;
	transform-origin: center bottom;
	border-top-right-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	box-shadow: 0px 4px 2px -4px black;
	background-color: hsl(235, 22%, 20%);
}

.flip {
	animation-name: cardFlip;
	animation-duration: 50ms;
	animation-timing-function: ease;
	animation-delay: 0s;
}

.bottom {
	height: 48%;
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	background-color: inherit;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.08);
}

.dots {
	z-index: 5;
	position: absolute;
	background-color: var(--Very-dark-blue);
	height: 8px;
	width: 8px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}

.dot1 {
	bottom: 50%;
	left: -0.19rem;
	transform: translateY(50%);
}

.dot2 {
	bottom: 50%;
	right: -0.19rem;
	transform: translateY(50%);
}

.number {
	position: absolute;
	font-size: clamp(2rem, 7vw, 6rem);
	top: 50%;
	left: 52%;
	transform: translateX(-50%) translateY(-50%);
	color: var(--Soft-red);
}

@media (min-width: 750px) {
	p {
		font-size: 0.6rem;
	}
}

@media (min-width: 986px) {
	main {
		gap: 6rem;
		transform: translateY(-60%);
	}
	.boxes-container {
		gap: 1.5rem;
	}
	.hills {
		width: 100%;
		height: 25%;
		transform: translateX(0%);
	}
	p {
		font-size: 0.75rem;
		letter-spacing: 4px;
	}
}
